*{
    margin: 0;
    padding: 0;
 }
 
 body{
    font-family: "Gilroy", sans-serif;
 }
 
 a{
    text-decoration: none;
 }
 
 .top {
    padding-top: 40px;
 }
 
 .top-header {
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-direction: row;
    align-items: center;
 }
 
 .top-link {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    gap: 45px;
    color: #000000;
 }
 
 .top-link a:visited{
    color: #000000;
 }
 
 .top-link a:hover{
    color: #F25822;
 }
 
 .top-content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 39px;
 }
 
 .top-content-text {
    width: 522px;
 
 }
 
 .title {
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
 }
 
 .text {
    font-size: 20px;
    line-height: 23px;
 
    color: #888888;
 }
 
 .top-button {
    margin-top: 37px;
    display: flex;
    align-items: center;
    gap: 72px;
 }
 
 .button-video{
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
 }
 
 .button {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
 }
 
 .blok-logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
 }